 {% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<style>
  .bg-password-image {
    background: url("https://source.unsplash.com/K4mSJ7kc0As/600x800");
    background-position: center;
    background-size: cover;
  }
</style>
  <!-- FORGOT PASSWORD FORM-->
  <div id="forget-password-form" class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  {% for flashMessage in app.session.flashbag.get('danger') %}
                      <div class="alert alert-danger">
                        {{ flashMessage }}
                      </div>
                  {% endfor %}
                  {% for flashMessage in app.session.flashbag.get('notice') %}
                      <div class="alert alert-success">
                        {{ flashMessage }}
                      </div>
                  {% endfor %}
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Vous avez oublié votre mot de passe ?</h1>
                    <p class="mb-4">Nous l'avons ! Il suffit d'entrer votre adresse électronique ci-dessous et nous vous enverrons un lien pour réinitialiser votre mot de passe !</p>
                  </div>
                  <form  method="post" >
                    <div class="form-group">
                      <input id="email-reset" type="email" name="email" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Entrez votre adresse Email...">
                    </div>
                    <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate=''>
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">  
                      Reset Mot de passe
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a id="login-link" class="small" style="cursor: pointer;">Déjâ un compte ? Connexion !</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}