<div class="row">
    <div class="col-3">
        <h6>{{ book.titre }}</h6>
        <p>{{ book.author }}</p>

    </div>
    <div class="col">
        <p>
            {{ book.description }}
        </p>
    </div>
</div>