{% extends 'base.html.twig' %}

{% block title %}Hello ReadingsController!{% endblock %}




{% block body %}
    <h1>recherche</h1>
    <form action="search" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="titre" id="titre"
                   name="titre" {% if request['titre'] is defined %} value="{{ request['titre'] }} {% endif %}">
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="titreParams" id="b1" value="b1" checked>
            <label class="form-check-label" for="b1">complet</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="titreParams" id="b2" value="b2">
            <label class="form-check-label" for="b2">partiel</label>
        </div>

        <hr>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="auteur"
                   name="auteur" {% if request['auteur'] is defined %} value="{{ request['auteur'] }} {% endif %}">
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="auteurParams" id="a1" value="a1" checked>
            <label class="form-check-label" for="a1">complet</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="auteurParams" id="a2" value="a2">
            <label class="form-check-label" for="a2">partiel</label>
        </div>

        <div class="form-group mt-4">
            <button class="btn btn-dark" type="submit" name="valide" value="google">chercher !</button>
            <button class="btn btn-success" type="submit" name="valide" value="livraddict">livraddict !</button>

        </div>
    </form>

    <div id="react_livre_tab" data-books="{{ books }}" data-pagination="{{ nblivres }}"></div>














{% endblock %}